body {
}

.bookingBox {
    background-color: lightgray;
    width: 25%;
    border-radius:5%;
}
.btnBooking{
    border-radius:3px;
    margin: 10px;
    height: 42px;
}
.btnCompleteBooking{
    width: 100%;
}

.grid-container{
    border-radius: 5px;
    background-color: lightgray;
    margin: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto 25%;
}