<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
>>>>>>> Stashed changes
﻿.buttonStyle {
    padding: 10px 10px 10px 10px;
    margin-left: 43%;
    border-radius: 40%;
    background-color: black;
    color:white;
    font-size:30px;
<<<<<<< Updated upstream
=======
﻿.ChooseRoom {
    padding: 10px 10px 10px 10px;
    margin-left: 46%;
    border-radius: 40%;
    font-size:30px;
    color:white;
    background-color:black;
}

.showRoom{
    margin-top:50px;
    width: 100%;
    height: 100%;
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}
