body {

}
.headline {
    text-align: center;
}
.navbar-header{
    float: none !important;
    text-align: center !important;
}
.body_login {
    height: 100vh;
    min-height: 550px;
    background-image: url('../Pictures/CL.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-y: hidden;
}
.nav navbar-nav{
    text-align:right;
}
#MainContent_Login1 {
    height: 100%;
}
.divincenter {
    margin: auto;
    width: 35%;
    border: 3px solid #E0BA61;
    padding: 3rem;
    margin-top: 20%;
    height: 40%;
    background-color:white;
}
/* For Tobias checkbox in choose room */
.checkbox1 {
    position: static;
}
table {
    width: 100%;
    height: 100%;
}


/*CSS to login */
.loginbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 420px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}

.lblUsername, .lblPassword {
    font-weight: bold;
    color: #fff;
}

.txtUsername, .txtPassword {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
}

::placeholder {
    color: rgba(255,255,255,.5);
}

.btnSubmit {
    height: 40px;
    width: 200px;
    margin: 0px 55px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(255, 9, 9);
    cursor: pointer;
    border-radius: 20px;
}

.btnSubmit:hover {
    background-color: rgb(255, 217, 9);
}

.lblIncorrectMessage {
    color: lightcoral;
    font-style: italic;
    padding: 16px 0;
    margin: 0 0 0 40px;
}
.registerbox {
    width: 30%;
    padding: 3rem;
    margin: auto;
    background: rgba(0,0,0,0.5);
    margin-top: 1rem;
}
