body {
}

.checkbox1 {
    width: 300px;
    position: static;
}

.checkbox1 input[type=checkbox] {
    display: none;
}

.checkbox1 input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
}
/* checkbox1 */
/* unchecked icon */

.checkbox1 input[type=checkbox] + label:before {
    content: "\f096";
    letter-spacing: 10px;
}
/* checked icon */
.checkbox1 input[type=checkbox]:checked + label:before {
    letter-spacing: 7px;
    content: "\f046";
}  

.dato_design {
    width: 235px;
    margin-top: 30px;
    padding-left: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid;
}

.datoinput {
    width: 115px;
    border-style: none;
}

ol {
    display: block;
    list-style-type: decimal;
    list-style: none;
}

.lipicturelist {
    display: list-item;
}

.picturelistdiv {
    display: block;
}